body {
    background-color: #FAFAFA;
    scroll-behavior: smooth;
    font-family: 'Contrail One' !important;
}

.navbar {
    background-color: #DD2E35;
}

.nav-link {
    color: white !important;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.banner-section {
    clear: both;
    margin-top: 50px;
}

.address-section {
    margin-top: 70px;
}


/* Restaurant Card Slider  */
@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid #DD2E35;
    background-image: none;
    background-color: #DD2E35;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 28px;
    color: #F7AB3C;
    position: relative;
    top: 3px;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 28px;
    color: #F7AB3C;
    position: relative;
    top: 3px;
}

/* End HEre */
.card-body {
    padding: 0px !important;
}


#spieskatre-section,
.service-section,
.offnungszeiten {
    clear: both;
    margin-top: 50px;
}

.services-table .col-lg-3 .box {
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid lightgray;
}

.offnungszeiten-table tbody tr td {
    border-bottom: 1px solid lightgray;
}


/* Footer */
footer {
    background-color: black;
    color: black;
    margin-top: 100px;
}

footer .container .row .col-lg-12 p {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 40px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

/* .active, */
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

/* End Footer */